html {
    font-size: 62.5%; /* 1rem = 10px */
}

:root{
    --white:#ffffff;
    --black:#000000;
    --navy-950: #0E1323;
    --navy-900: #1C204B;
    --navy-800: #33397A;
    --navy-200: #BBC0FF;
    --orange-300: #FF8B64;
    --purple-700: #7335D2;
    --purple-600: #5747EA;
    --purple-500: #7078C9;
    --blue-300: #55C2E6;
    --pink-400: #FF5E7D;
    --green-400: #4BCF82;
    --yellow-300:#F1C75B;
    --grey-200: #D8D8D8;

    --space-0: 0px;
    --space-100: 8px;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
}

body, body::after, body::before{
    margin:0;
    padding:0;
}

body{
    font-family: 'Rubik', sans-serif;
}

.text-preset1{
    font-weight: 300; /* light */
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0px;
}

.text-preset2{
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0px;
}

.text-preset3{
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0px;
}

.text-preset4{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
}

.text-preset5-medium{
    font-weight: 500; 
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
}

.text-preset5-regular{
    font-weight: 400; 
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
}

.text-preset6{
    font-weight: 400; 
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--navy-950);
    color: var(--white);
}

.dashboard-grid{
    margin-block: var(--space-500);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--space-300);
    width: 90%;
    max-width: 37.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: var(--space-100);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: right 10px top -10px;
    background-size: 78px;
}

.card-content{
    background-color: var(--navy-900);
    padding: var(--space-400);
    border-radius: 15px;
    margin-top: 45px;
}

.button-others{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-dots{
    fill: var(--navy-200);
}

.time-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous-time{
    color: var(--navy-200);
}

.work-card{
    background-color: var(--orange-300);
    background-image: url('../images/icon-work.svg');
}
.play-card{
    background-color: var(--blue-300);
    background-image: url('../images/icon-play.svg');
    background-size: 90px;
}

.study-card{
    background-color: var(--pink-400);
    background-image: url('../images/icon-study.svg');
}

.exercise-card{
    background-color: var(--green-400);
    background-image: url('../images/icon-exercise.svg');
    background-position: right 10px top 0px;
    background-size: 80px;
    
}
.social-card{
    background-color: var(--purple-700);
    background-image: url('../images/icon-social.svg');
    background-position: right 10px top -15px;
    background-size: 74px;
}
.self-care-card{
    background-color: var(--yellow-300);
    background-image: url('../images/icon-self-care.svg');
    background-size: 72px;
    

}